<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WhatsApp">
  <test name="Test1">
    <classes>
      <class name="TestNGBasics.PriorityDemo"/>
      <class name="TestNGBasics.XMLReport"/>
      <class name="TestNGBasics.GroupsDemo"/>
    </classes>
  </test> <!-- Test1 -->
  
  <test name="Test2">
    <classes>
      <class name="TestNGBasics.InvocationCountDemo"/>
      <class name="TestNGBasics.DependsOn"/>
      <class name="TestNGBasics.Annotations"/>
    </classes>
  </test> <!-- Test2 -->
  
</suite> <!-- WhatsApp -->
